body {
    font-family: Arial, sans-serif;
    background-color: #0000ff;
}

.container {
    max-width: 600px;
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#urlInput {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#shortenBtn {
    background-color: #0000ff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#shortenBtn:hover {
    background-color: #2980b9;
}

#result {
    text-align: center;
    font-size: 18px;
    color: #333;
}
